* {
    margin: 0;
    padding: 0
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(32, 110, 110, 0.964706)), to(#2e144e));
    background-image: -o-linear-gradient(left, rgba(32, 110, 110, 0.964706), #2e144e);
    background-image: linear-gradient(to right, rgba(32, 110, 110, 0.964706), #2e144e);
    color: white
}

#root {
    height: 100vh
}

.wi-blue {
    color: #0693ca
}

.wi-yellow {
    color: #fdc201e1
}

.wi-gray {
    color: #758391
}

.navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar-list-item {
    -ms-flex-item-align: center;
    align-self: center;
    margin: 12px;
    list-style-type: none
}

.city-name {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    color: white;
    font-family: 'Courier New', Courier, monospace
}

@media all and (max-width: 480px) {
    .navbar-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .navbar-list-item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }

    .navbar-list-item {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }

    .city-name {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        font-size: 1.5rem
    }
}

.form-container {
    padding: 8px
}

form {
    border-bottom: .1px solid white
}

input {
    padding: 8px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    caret-color: white
}

.search-button {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.171);
    color: white;
    cursor: pointer
}

::-webkit-input-placeholder {
    color: white
}

::-moz-placeholder {
    color: white
}

:-ms-input-placeholder {
    color: white
}

::-ms-input-placeholder {
    color: white
}

::placeholder {
    color: white
}

.unit-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.295);
    border-radius: 8%;
    padding: 2px
}

.unit-value {
    padding: 8px;
    margin: 0px 2px;
    border-radius: 8%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.unit-value:hover {
    background-color: rgba(255, 255, 255, 0.438);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.active-unit {
    background-color: rgba(255, 255, 255, 0.267);
    font-weight: bold
}

.today-component-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white
}

.icon-desc-container,
.date-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.date-container {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600
}

.weather-icon,
.weather-desc {
    margin: 10px 0px;
    padding: 10px
}

.weather-icon {
    font-size: 8em
}

.weather-desc {
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .1rem;
    font-weight: bold
}

.temp-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.temp-text {
    font-size: 7rem;
    padding-left: 20px;
    -ms-flex-item-align: center;
    align-self: center
}

.high-low-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.1rem
}

.high-low-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 4px;
    border-radius: 2px;
    border: 0.1px solid rgba(255, 255, 255, 0.144);
    background-color: rgba(255, 255, 255, 0.13)
}

.high-low-item i {
    font-size: 1.3rem
}

.extra-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    font-size: 1.1rem
}

.extra-info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 4px;
    margin: 4px;
    border-radius: 2px;
    border: 0.1px solid rgba(255, 255, 255, 0.144);
    background-color: rgba(255, 255, 255, 0.096)
}

.high-low-item>span,
.extra-info-item>span {
    padding: 4px;
    margin: 4px
}

.wi-direction-up {
    color: #48c5b5
}

.wi-direction-down {
    color: #37a72b
}

.wi-humidity {
    color: #00acee
}

.wi-barometer {
    color: #fdc201
}

.wi-strong-wind {
    color: #06d79d
}

@media all and (max-width: 768px) {
    .today-component-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .temp-text {
        font-size: 5rem
    }

    .date-container,
    .extra-info-container {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%
    }

    .icon-desc-container,
    .temp-container {
        -webkit-box-flex: 50%;
        -ms-flex: 50%;
        flex: 50%
    }

    .high-low-container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .extra-info-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .extra-info-item {
        -webkit-box-flex: 30%;
        -ms-flex: 30%;
        flex: 30%
    }
}

@media all and (max-width: 480px) {
    .today-component-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .temp-text {
        font-size: 5rem
    }

    .extra-info-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .extra-info-item {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%
    }
}

.list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: white;
    height: 50vh
}

.single-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 1rem;
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    padding: 3px;
    margin: 3px;
    border-radius: 2px;
    padding-top: 12px;
    background-color: rgba(255, 255, 255, 0.041);
    -webkit-box-shadow: 1px white;
    box-shadow: 1px white
}

.li-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.single-list-item>div,
.li-info-container>div {
    padding: 4px
}

.li-temp-text {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold
}

.li-weather-icon {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 3.2rem
}

.li-day,
.li-desc {
    -ms-flex-item-align: center;
    align-self: center;
    text-transform: capitalize
}

@media all and (max-width: 480px) {
    .single-list-item {
        border-top: .1px solid white;
        -webkit-box-flex: 50%;
        -ms-flex: 50%;
        flex: 50%
    }
}

.app-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100vh
}

.app-today {
    margin: 15px 0px
}

.app-list-graph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 20px 0px
}

.app-list-graph>div {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

.app-list-graph>* {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.app-instruction {
    font-size: 1.1rem;
    margin: auto;
    text-align: center;
    color: white
}

@media all and (max-width: 768px) {
    .app-list-graph {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

blockquote {
    color: white;
    font-size: 30px;
    line-height: 100%;
    position: relative;
    padding-top: 10px;
    font-family: Georgia, serif;
    width: 300px;
    margin: 10% auto
}

blockquote:before {
    content: '\201C';
    position: absolute;
    top: -20px;
    left: 0;
    bottom: -30px;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-style: normal
}

blockquote:after {
    content: '\201C';
    position: absolute;
    bottom: -45px;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-style: normal;
    right: 0
}

@media all and (max-width: 768px) {
    blockquote {
        font-size: 30px;
        width: 450px
    }
}

@media all and (max-width: 480px) {
    blockquote {
        font-size: 25px;
        width: 300px
    }

    blockquote:before {
        top: -10px
    }

    blockquote:after {
        bottom: -25px
    }
}